CREATE DATABASE IF NOT EXISTS `{{ db_name }}`;

CREATE USER IF NOT EXISTS '{{ db_user }}'@'localhost' IDENTIFIED BY '{{ db_password }}';
CREATE USER IF NOT EXISTS '{{ db_user }}'@'127.0.0.1' IDENTIFIED BY '{{ db_password }}';
CREATE USER IF NOT EXISTS '{{ db_user }}'@'{{ db_allowed_remote_host }}' IDENTIFIED BY '{{ db_password }}';

GRANT ALL PRIVILEGES ON `{{ db_name }}`.* TO '{{ db_user }}'@'localhost';
GRANT ALL PRIVILEGES ON `{{ db_name }}`.* TO '{{ db_user }}'@'127.0.0.1';
GRANT ALL PRIVILEGES ON `{{ db_name }}`.* TO '{{ db_user }}'@'172.30.0.0/24';
GRANT ALL PRIVILEGES ON `{{ db_name }}`.* TO '{{ db_user }}'@'{{ db_allowed_remote_host }}';

DELETE FROM mysql.user
WHERE User = 'root'
  AND Host NOT IN ('localhost', '127.0.0.1', '::1');

FLUSH PRIVILEGES;